@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 0 0% 0%; /* Black */

    --card: 0 0% 100%; /* White */
    --card-foreground: 0 0% 0%; /* Black */

    --popover: 0 0% 100%; /* White */
    --popover-foreground: 0 0% 0%; /* Black */

    --primary: 231, 23%, 11%; /* TikTok Black */
    --primary-red: 348 99% 58%; /* TikTok Red */
    --primary-foreground: 0 0% 100%; /* White */

    --secondary: 202 100% 56%; /* TikTok Blue */
    --secondary-foreground: 0 0% 100%; /* White */

    --muted: 0 0% 90%; /* Light Gray */
    --muted-foreground: 0 0% 50%; /* Medium Gray */

    --accent: 202 100% 56%; /* TikTok Blue */
    --accent-foreground: 0 0% 100%; /* White */

    --destructive: 0 84.2% 60.2%; /* Red */
    --destructive-foreground: 0 0% 100%; /* White */

    --border: 348 99% 58%; /* TikTok Red */
    --input: 348 99% 58%; /* TikTok Red */
    --ring: 348 99% 58%; /* TikTok Red */

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%; /* Almost Black */
    --foreground: 0 0% 100%; /* White */

    --card: 0 0% 15%; /* Dark Gray */
    --card-foreground: 0 0% 100%; /* White */

    --popover: 0 0% 15%; /* Dark Gray */
    --popover-foreground: 0 0% 100%; /* White */

    --primary: 231, 23%, 11%; /* TikTok Black */
    --primary-red: 348 99% 58%; /* TikTok Red */
    --primary-foreground: 0 0% 100%; /* White */

    --secondary: 202 100% 56%; /* TikTok Blue */
    --secondary-foreground: 0 0% 100%; /* White */

    --muted: 0 0% 25%; /* Medium Dark Gray */
    --muted-foreground: 0 0% 75%; /* Light Gray */

    --accent: 202 100% 56%; /* TikTok Blue */
    --accent-foreground: 0 0% 100%; /* White */

    --destructive: 0 84.2% 60.2%; /* Red */
    --destructive-foreground: 0 0% 100%; /* White */

    --border: 348 99% 58%; /* TikTok Red */
    --input: 348 99% 58%; /* TikTok Red */
    --ring: 348 99% 58%; /* TikTok Red */
  }
}


@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {

  .debugger{

    @apply border-4 border-red-500

  }

  .flex_center{

    @apply flex justify-center items-center 

  }

  .flex_between{

    @apply flex justify-between items-center

  }

  .flex_col_center{

    @apply flex flex-col justify-center items-center 

  }

  .flex_col_between{

    @apply flex flex-col justify-between items-center

  }
}
